.cart-wrapper {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 400px;
  min-width: 300px;
  height: calc(100vh - 48px); /* full height minus padding/margin */
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
  padding-right: 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.cart-item-name {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
.cart-item-price {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}


.cart-qty {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cart-qty button {
  padding: 6px 10px;
  font-size: 16px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cart-remove {
  background: none;
  color: red;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cart-footer {
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.cart-total {
  font-size: 20px;
  font-weight: 00;
  color: #222;
  text-align: right;
  margin-top: 4px;
}

.payment-buttons {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.payment-buttons button {
  flex: 1;
  padding: 15px;
  font-size:25px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.payment-buttons button:first-child {
  background-color: #4caf50; /* Cash */
}

.payment-buttons button:last-child {
  background-color: #2196f3; /* Card */
}

.payment-buttons button:hover {
  opacity: 0.9;
}
